<aside>
    <div>
        <h3>Busca</h3>
        <form action="/Home/Busca" class="form-inline">
            <div class="input-group">
                <input type="text" name="termo" class="form-control" />
                <span class="input-group-btn"><button class="btn btn-default">Ok</button></span>
            </div>
        </form>
    </div>
</aside>

